---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Default from '../../components/Default.astro';

const posts = (await getCollection('blog')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<Default>
    <section class='w-full text-slate-300'>
        <ul class='grid grid-cols-2 gap-3'>
            {
                posts.map((post) => (
                    <li class='flex border border-slate-500 flex-col gap-2 rounded-md bg-white/20 mt-4 p-4 h-auto'>
                        <a href={`/blog/${post.slug}/`} class='text-white font-medium'>
                            {post.data.title}
                        </a>
                        <FormattedDate date={post.data.pubDate} />
                    </li>
                ))
            }
        </ul>
    </section>
</Default>
