---
import { Image } from 'astro:assets';
import { clsx, type ClassValue } from 'clsx';
import { twMerge } from 'tailwind-merge';
import Default from '../../components/Default.astro';
import { getPosts } from '../../content/utils';
import { urlFor } from './[...slug].astro';

export function cn(...inputs: ClassValue[]) {
  return twMerge(clsx(inputs));
}

const posts = await getPosts();
---

<Default title='Blog' description='My thoughts and writings about technology and development'>
  <h1 class='text-white text-3xl mb-2'>Blog</h1>
  <p class='text-neutral-400 mb-8'>Sharing my thoughts and experiences in tech</p>

  <section class='w-full scroll-smooth'>
    <ul class='grid grid-cols-1 gap-4 md:grid-cols-2'>
      {
        posts.map((post) => (
          <div class='group rounded-md bg-neutral-900/40 backdrop-blur-sm transition-all duration-300'>
            <a href={`/blog/${post.slug.current}/`} class='flex-1 flex flex-col justify-between p-3 h-full'>
              <Image
                src={urlFor(post.mainImage).url() ?? '/no-image.png'}
                alt=''
                loading='eager'
                width={400}
                height={200}
                class={cn(
                  'object-cover rounded-sm h-48 w-full',
                  !post.mainImage && 'border border-neutral-700 border-dashed'
                )}
              />
              <div class='flex-col mt-6 justify-between flex min-h-44 flex-1 px-2'>
                <div class='flex flex-col'>
                  <h1 class='text-white text-xl font-medium mb-2'>{post.title}</h1>
                  <h3 class='text-neutral-300 text-sm leading-relaxed'>{post.title}</h3>
                  {/* <div class='flex flex-wrap gap-2 mt-4'>
                    {post.tags?.map((tag) => (
                      <span class='text-xs px-2 py-1 rounded-full bg-neutral-800 text-neutral-300'>{tag}</span>
                    ))}
                  </div> */}
                </div>

                <div class='flex w-full justify-between items-center mt-6'>
                  <span class='text-neutral-400 text-sm'>
                    {new Date(post._createdAt).toLocaleDateString('en-US', {
                      year: 'numeric',
                      month: 'long',
                      day: 'numeric',
                    })}
                  </span>
                  <span class='text-sky-500 text-sm'>Read more →</span>
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </ul>
  </section>
</Default>
