---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Default from '../../components/Default.astro';
import { BlogPostBox } from '../../components/motions/Boxes';

const posts = (await getCollection('blog')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<Default>
    <section class='w-full text-slate-300'>
        <ul class='grid grid-cols-1 md:grid-cols-2 gap-5 auto-rows-fr'>
            {
                posts.map((post) => (
                    <BlogPostBox
                        className='rounded-xl mt-2 h-auto hover:cursor-pointer hover:bg-slate-600 p-2 border border-slate-100/20'
                        client:load>
                        <a href={`/blog/${post.slug}/`}>
                            <img src={post.data.heroImage} alt='' class='rounded-xl w-full h-48 object-cover' />
                            <div class='p-4'>
                                <h4 class='text-white font-base h-20 overflow-ellipsis block text-start '>
                                    {post.data.title}
                                </h4>
                                <FormattedDate date={post.data.pubDate} />
                            </div>
                        </a>
                    </BlogPostBox>
                ))
            }
        </ul>
    </section>
</Default>
