@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-space: 'Space Grotesk', sans-serif;
    --font-garamond: 'EB Garamond', serif;
    --font-ubuntu: 'Ubuntu', sans-serif;
    --font-rubik: 'Rubik', sans-serif;
  }
}

body {
  font-family: var(--font-rubik);
}

.font-garamond {
  font-family: var(--font-garamond);
}

.transition-height {
  transition-property: height;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.debug {
  @apply border border-red-500;
}
