---
import Default from '../components/Default.astro';
import Project from '../components/Project.astro';
---

<!DOCTYPE html>
<html lang='en'>
    <Default>
        <section class='w-full'>
            <ul class='grid grid-cols-1 auto-rows-fr'>
                <Project
                    github_link='https://github.com/ismi-abbas/resepi-bangman'
                    app_link='https://resepi-bangman.vercel.app/'
                    title='Resepi Bangman'
                    description='Simple Recipe Display Apps'
                    image='/resepi-bangman.png'
                />

                <Project
                    github_link='https://github.com/ismi-abbas/resepi-bangman'
                    app_link='https://baca-hadith.vercel.app/'
                    title='Baca Hadith'
                    description='Aplikasi ringkas untuk mencari hadith'
                    image='/baca-hadith.png'
                />
            </ul>
        </section>
    </Default>
</html>
