---
import Default from '../components/Default.astro';
import Project from '../components/Project.astro';
---

<!DOCTYPE html>
<html lang='en'>
    <Default>
        <section class='w-full'>
            <ul class='grid grid-cols-1 md:grid-cols-2 gap-2'>
                <Project
                    github_link='https://github.com/ismi-abbas/resepi-bangman'
                    app_link='https://resepi-bangman.vercel.app/'
                    title='Resepi Bangman'
                    description='Simple Recipe Display Apps'
                    image='/resepi-bangman.png'
                    stacks={['React JS']}
                />

                <Project
                    github_link='https://github.com/ismi-abbas/jami-kutub-sittah'
                    app_link='https://baca-hadith.vercel.app/'
                    title='Baca Hadith'
                    description='Aplikasi ringkas untuk mencari hadith - discontinued'
                    image='/baca-hadith.png'
                    stacks={['React Native']}
                />

                <Project
                    github_link='https://github.com/ismi-abbas/expense-split'
                    image='../../public/app_mockup.jpg'
                    title='Expense Split'
                    description='Simple app to do splitting(mock)'
                    stacks={['React Native']}
                />

                <Project
                    github_link='https://github.com/ismi-abbas/barber-shop-system'
                    image='../../public/app_mockup.jpg'
                    title='Barbershop System(mock)'
                    description='Barbershop management system'
                    stacks={['React, ExpressJS']}
                />

                <Project
                    github_link='https://github.com/ismi-abbas/discharge'
                    image='../../public/app_mockup.jpg'
                    title='Discharge App'
                    description='A prove of concept app for petrol pump oil records. Built using React Native with Expo'
                    stacks={['React Native']}
                />
            </ul>
        </section>
    </Default>
</html>
