---
import Default from '../components/Default.astro';
import Project from '../components/Project.astro';
---

<!DOCTYPE html>
<html lang='en'>
    <Default>
        <div class='flex-container justify-center'>
            <div class='flex flex-col justify-between items-center border-dashed border-y-0 border border-gray-700 p-4'>
                <h1 class='text-2xl font-medium p-2 mb-4 text-slate-200 caret-sky-800'>Career</h1>

                <Project
                    github_link='https://github.com/ismi-abbas/resepi-bangman'
                    app_link='https://resepi-bangman.vercel.app/'
                    title='Resepi Bangman'
                    description='Simple Recipe Display Apps'
                    image='/resepi-bangman.png'
                />

                <Project
                    github_link='https://github.com/ismi-abbas/resepi-bangman'
                    app_link='https://baca-hadith.vercel.app/'
                    title='Baca Hadith'
                    description='Aplikasi ringkas untuk mencari hadith'
                    image='/baca-hadith.png'
                />
            </div>
        </div>
    </Default>
</html>
