---
import Default from '../components/Default.astro';
import Layout from '../layouts/BlogPost.astro';
---

<Default
    title='Coding Statistic'
    description='Lorem ipsum dolor sit amet'
    pubDate={new Date()}
    updatedDate={new Date()}
    heroImage='/placeholder-about.jpg'>
    <div>test</div>
</Default>
