---
import Default from '../components/Default.astro';
import { Calendar } from '../components/charts/Calendar';
import { ResponsiveCalendar } from '@nivo/calendar';
---

<Default
    title='Coding Statistic'
    description='Lorem ipsum dolor sit amet'
    pubDate={new Date()}
    updatedDate={new Date()}
    heroImage='/placeholder-about.jpg'>
    <div>
        <!-- <div class='text-lg text-sky-300 font-medium'>Code Stats</div> -->
        <!-- <BarChart client:load /> -->
        <Calendar client:load />
    </div>
</Default>
