---
import Default from '../components/Default.astro';
import { Calendar } from '../components/charts/Calendar';
---

<Default
  title='Coding Statistic'
  description='My codestats from codestats.com'
  pubDate={new Date()}
  updatedDate={new Date()}
  heroImage='/og-image.png'>
  <div class='w-full px-5 md:px-0'>
    <Calendar client:load />
  </div>
</Default>
