---
import Default from '../components/Default.astro';
---

<Default title='Contact' description="Let's connect" pubDate={new Date()} updatedDate={new Date()}>
    <div class='h-full w-full'>
        <h2>Have something to build?</h2>
        <p>You can hire me as your developer</p>
    </div>
</Default>
