---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Default from '../components/Default.astro';
import ImageSlider from '../components/motions/ImageSlider';
import { Box } from '../components/motions/Boxes';

const imageUrls = '/jom_launch.jpeg';
---

<script lang='ts'>
function randomizePicture(source) {
    const random = Math.floor(Math.random() * source.length);
    return source[random];
}
</script>

<html lang='en'>
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <Default>
        <div class='w-full px-10 flex gap-2'>
            <ImageSlider client:load url={imageUrls} />
        </div>

        <div class='w-full max-w-lg'>
            <div
                class='bg-slate-700 mt-8 text-center p-2 w-full rounded-md text-lg font-medium backdrop-blur-lg backdrop-filter text-slate-200'>
                <h3>Hello, I'm a Fullstack Developer based in Malaysia!</h3>
            </div>
        </div>

        <div class='mt-8 w-full text-white'>
            <h1 class='text-4xl font-bold'>Abbas Puzi</h1>
            <h3>Digital Craftman</h3>
        </div>

        <section class='w-full text-white mt-8'>
            <h1 class='underline underline-offset-4 decoration-4 decoration-slate-600 font-medium text-lg'>Work</h1>
            <p class='text-justify leading-relaxed mt-4'>
                Abbas is software developer who is passionate about building web applications and solving problems.
                Inspired to be a system programmer one day.
            </p>
        </section>

        <Box
            client:load
            className='py-2 px-4 rounded-md bg-emerald-300 mt-4 items-center text-base font-semibold text-slate-700'>
            <a href='/career'>
                My Portfolio
                <span>{'>'}</span>
            </a>
        </Box>

        <section class='w-full text-white mt-8'>
            <h1 class='underline underline-offset-4 decoration-4 decoration-slate-600 font-medium text-lg'>Bio</h1>
            <ul class='mt-4'>
                <li class='flex gap-4'>
                    <p class='font-semibold'>1998</p>
                    <p>Born in Gerik, Perak</p>
                </li>
                <li class='flex gap-4'>
                    <p class='font-semibold'>2021</p>
                    <p>Finish Bachelor of Islamic Studies</p>
                </li>
                <li class='flex gap-4'>
                    <p class='font-semibold'>2022</p>
                    <p>First job in IT industry at Maybank</p>
                </li>
                <li class='flex gap-4'>
                    <p class='font-semibold'>2023</p>
                    <p>Second job at FPT Software Malaysia - Petronas Digital</p>
                </li>
            </ul>
        </section>

        <section class='w-full text-white mt-8'>
            <h1 class='underline underline-offset-4 decoration-4 decoration-slate-600 font-medium text-lg'>I ❤️</h1>
            <p class='text-justify leading-relaxed mt-4'>Games and coding</p>
        </section>
    </Default>
</html>
