---
import Default from '../components/Default.astro';
import Project from '../components/Project.astro';
---

<Default title='Project' description='My open-source and company projects list'>
  <section class='w-full'>
    <ul class='grid grid-cols-1 md:grid-cols-2 gap-2'>
      <Project
        github_link='https://github.com/ismi-abbas/resepi-bangman'
        app_link='https://resepi-bangman.vercel.app/'
        title='Resepi Bangman'
        description='Simple Recipe Display Apps'
        image='/resepi-bangman.webp'
        techStacks={['Astro']}
      />

      <Project
        github_link='https://github.com/ismi-abbas/jami-kutub-sittah'
        app_link='https://baca-hadith.vercel.app/'
        title='Baca Hadith'
        description='Aplikasi ringkas untuk mencari hadith - discontinued'
        image='/baca-hadith.webp'
        techStacks={['NextJS']}
      />

      <Project
        github_link='https://github.com/ismi-abbas/expense-split'
        app_link=''
        image='/app_mockup.webp'
        title='Expense Split'
        description='Simple app to do splitting(mock)'
        techStacks={['React Native', 'Supabase']}
      />

      <Project
        github_link='https://github.com/ismi-abbas/barber-shop-system'
        app_link=''
        image='/app_mockup.webp'
        title='Barbershop System(mock)'
        description='Barbershop management system'
        techStacks={['React', 'ExpressJS', 'MySQL']}
      />

      <Project
        github_link='https://github.com/ismi-abbas/discharge'
        app_link=''
        image='/app_mockup.webp'
        title='Discharge App'
        description='A prove of concept app for petrol pump oil records. Built using React Native with Expo'
        techStacks={['React Native', 'Expo']}
      />
    </ul>
  </section>
</Default>
