---
import { Image } from 'astro:assets';
import { clsx, type ClassValue } from 'clsx';
import { twMerge } from 'tailwind-merge';
import Default from '../components/Default.astro';

export function cn(...inputs: ClassValue[]) {
  return twMerge(clsx(inputs));
}

const equipments = [
  {
    title: 'Macbook Pro M2 2023',
    description:
      'My main machine for coding. The only Apple I have. Bought it because of the battery life and developer support. Still paying the EPP, lol.',
    image: '/macbook.webp',
  },
  {
    title: 'Personal Computer',
    description: 'This is my PC setup mainly for gaming. Sometimes I do coding on it.',
    image: '/my_pc.webp',
  },
  {
    title: 'Gigabyte G24 Gaming Monitor',
    description: 'Monitor for gaming, and extend macbook screen',
    image: '/monitor.webp',
  },
  {
    title: 'SteelSeries Arctis 7 2019 Edition Wireless',
    description: 'My headset for gaming and attend meet!. Wireless with no bluetooth connection.',
    image: '/headphone.webp',
  },
  {
    title: 'AKKO 5075B Plus Tri Mode',
    description: 'Keybaord for the PC. No extra keyboard for my mac',
    image: '/keyboard.jpeg',
  },
  {
    title: 'Glorious Model O Minus',
    description: 'Wireless mouse for gaming and basic stuffs.',
    image: '/mouse.webp',
  },
];
---

<Default title='Uses' description='Curated list of my equipments'>
  <h1 class='text-white text-3xl mb-2'>Equipment</h1>
  <p class='text-neutral-400 mb-8'>A look at the tools and gear I use daily</p>

  <section class='w-full scroll-smooth'>
    <ul class='grid grid-cols-1 gap-4 md:grid-cols-2'>
      {
        equipments.map(({ title, description, image }) => (
          <div class='group rounded-md bg-neutral-900/40 backdrop-blur-sm transition-all duration-300'>
            <div class='flex-1 flex flex-col justify-between p-3 h-full'>
              <Image
                src={image}
                alt={title}
                loading='eager'
                width={400}
                height={200}
                class='object-cover rounded-sm h-48 w-full'
              />
              <div class='flex-col mt-6 justify-between flex min-h-44 flex-1 px-2'>
                <div class='flex flex-col'>
                  <div class='flex justify-between items-center mb-2'>
                    <h1 class='text-white text-xl font-medium'>{title}</h1>
                  </div>
                  <h3 class='text-neutral-300 text-sm leading-relaxed'>{description}</h3>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </ul>
  </section>
</Default>
