---
import Default from '../components/Default.astro';
import Equipment, { type EquipmentProps } from '../components/Equipment.astro';

const equipments: EquipmentProps[] = [
  {
    title: 'Macbook Pro M2 2023',
    description:
      'My main machine for coding. The only Apple I have. Bought it because of the battery life and developer support. Still paying the EPP, lol.',
    image: '/macbook.webp',
  },
  {
    title: 'Personal Computer',
    description: 'This is my PC setup mainly for gaming. Sometimes I do coding on it.',
    additionalDescription: ['Windows 11 & Linux Mint(dual boot)', 'Intel i5 12th Gen', '16GB ram', 'Geforce RTX 3060'],
    image: '/my_pc.webp',
  },
  {
    title: 'Gigabyte G24 Gaming Monitor',
    description: 'Monitor for gaming, and extend macbook screen',
    additionalDescription: [],
    image: '/monitor.webp',
  },
  {
    title: 'SteelSeries Arctis 7 2019 Edition Wireless',
    description: 'My headset for gaming and attend meet!. Wireless with no bluetooth connection.',
    additionalDescription: [],
    image: '/headphone.webp',
  },
  {
    title: 'AKKO 5075B Plus Tri Mode',
    description: 'Keybaord for the PC. No extra keyboard for my mac',
    additionalDescription: ['Feker Panda Tactile Switch', 'Stock Keycaps', 'No Mods'],
    image: '/keyboard.jpeg',
  },
  {
    title: 'Glorious Model O Minus',
    description: 'Wireless mouse for gaming and basic stuffs.',
    additionalDescription: [],
    image: '/mouse.webp',
  },
];
---

<!doctype html>
<html lang='en'>
  <Default title='Uses' description='Curated list of my equipments'>
    <h1 class='text-bold text-white text-lg md:text-xl m-4'>Curated list of my equipments</h1>
    <section class='w-full'>
      <ul class='grid grid-cols-1 md:grid-cols-2 gap-2'>
        {equipments.map((equipment) => <Equipment {...equipment} />)}
      </ul>
    </section>
  </Default>
</html>
