---
import BaseHead from './BaseHead.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';

const { title, description, image } = Astro.props;
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class='bg-gray-800'>
    <Header />
    <main class='w-full flex flex-col items-center min-h-dvh max-w-screen-sm mx-auto'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
