---
import BaseHead from './BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Header from './Header.astro';
import Footer from './Footer.astro';
---

<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body class='bg-gray-800 max-w-screen-md container mx-auto'>
    <Header />
    <main class='mx-auto w-full justify-center flex flex-col items-center px-10 md:px-20 mb-20'>
        <slot />
    </main>
    <Footer />
</body>
