---
import { Image } from 'astro:assets';
import { motion } from 'framer-motion';

export interface EquipmentProps {
  title: string;
  description: string;
  additionalDescription?: string[];
  image: string;
}

const { title, description, additionalDescription, image } = Astro.props as EquipmentProps;
---

<motion.div
  initial={{ opacity: 0, y: 50 }}
  animate={{ opacity: 1, y: 0 }}
  transition={{ duration: 2, type: 'spring', stiffness: 100 }}
  client:load
  className='h-auto p-2 border border-slate-600/80'>
  <div class='flex-1 flex flex-col justify-between p-2'>
    <Image src={image} alt='logo' loading='lazy' class='h-56 object-cover' width={500} height={500} />
    <div class='flex-col mt-4'>
      <h2 class='text-white'>{title}</h2>
      <h3 class='text-white text-sm mt-2 text-justify'>{description}</h3>
      <ul class='mt-2'>
        {
          additionalDescription ? (
            additionalDescription.map((item: any) => <li class='text-white text-sm list-disc list-inside'>{item}</li>)
          ) : (
            <div />
          )
        }
      </ul>
    </div>
  </div>
</motion.div>
