---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive =
  href === pathname || href === pathname.replace(/\/$/, '') || href === '/'.concat(pathname.split('/')[1]);
---

<li class='list-none text-center'>
  <a href={href} class:list={[className, { 'px-4 border-b-2 border-sky-500': isActive }]} {...props}>
    <slot />
  </a>
</li>
