---
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from './ThemeIcon.astro';
import { SITE_TITLE } from '../consts';
---

<header class='mx-auto flex flex-col items-center mt-4'>
    <nav class='flex justify-evenly max-w-xl w-full border border-gray-700 p-4 items-center'>
        <HeaderLink href='/'>Home</HeaderLink>
        <HeaderLink href='/blog'>Blog</HeaderLink>
        <HeaderLink href='/about'>About</HeaderLink>
        <HeaderLink href='https://twitter.com/astrodotbuild' target='_blank'>Twitter</HeaderLink>
        <HeaderLink href='https://github.com/withastro/astro' target='_blank'>GitHub</HeaderLink>
        <ThemeIcon />
    </nav>

    <h2>
        {SITE_TITLE}
    </h2>
</header>
